.sidenav {
  height: 100%;
}

.leftnav {
  height: 100%;
  background-color:  #106CC8;
  z-index: 0;
}

md-checkbox.md-checked .md-icon {
  background-color: #01CB84;
}

body {
  color: #01CB84;
}

.title {
  text-align: center;
}

.logo {
  font-size: 80px;
}

#textcolor .textcolor {
  color: #01CB84;
}

.md-list-item-text {
  text-align: right;
}

.icon {
  padding-top: 20px;
  font-size: 2em;
}
