<div>
  <label>Name</label>
  <input ng-model='bathroom.name'>
  <label>Location long</label>
  <input ng-model='bathroom.location.longitude'>
  <label>lat long</label>
  <input ng-model='bathroom.location.latitude'>
  <label>type</label>
  <input ng-model='bathroom.type'>
  <label>handicapped</label>
  <input ng-model='bathroom.handicapped'>
 <md-button md-no-ink class="md-primary" ng-click='submit(bathroom)'>submit</md-button>


 <md-button md-no-ink class="md-primary" ng-click='get()'>submit</md-button>

</div>
