
<md-sidenav md-component-id="left" class="md-sidenav-left leftnav" md-is-locked-open="$mdMedia('gt-lg')">
  <header class='nav-header title'>
    <i class="material-icons logo">directions_run</i>
    <i class="material-icons logo">wc</i>
  </header>
  <div layout='column'>
    <div layout="row">
        <fieldset class="standard" flex>
          <h4 class='md-display-2 title'>Filter</h4>
          <div layout="row" layout-wrap>
            <div flex="50" ng-repeat="filter in filters">
              <md-checkbox ng-checked="exists(filter, selected)" ng-click="toggle(filter, selected)" class='md-body-2'>
                {{ filter }} <span ng-if="exists(filter, selected)"></span>
              </md-checkbox>
            </div>
          </div>
        </fieldset>
    </div>
    <div layout="row">
        <fieldset class="standard" flex>
          <h5 class='md-display-1 title'>Closest Restrooms</h5>
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="bathroom in bathrooms">
            <i class='{{bathroom.icon}} icon'></i>
            <div id='textcolor' class="md-list-item-text" layout="column">
              <h3 class='textcolor'>{{ bathroom.name }}</h3>
              <h4 class='textcolor'>{{ bathroom.type }}</h4>
              <p class='textcolor'>{{ bathroom.distance }}</p>
            </div>
          </md-list-item>
        </md-list>
      </fieldset>
    </div>
  </div>
  <add></add>
</md-sidenav>
